<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".wallet.WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WalletMain" />

        <activity
            android:name=".wallet.TokenDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WalletMain" />
        <activity
            android:name=".wallet.ChargeDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.NFTDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.SendNFTActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.AddATokenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.AddCustomTokenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wallet.SendCoinActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.google.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>